
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text BoldG1';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/SFUIText/SF UI Text BoldG1'), url('../fonts/SFUIText/SFUIText-BoldG1.woff') format('woff');
}

@mixin reg {
  font-family: 'Montserrat Regular', sans-serif;
}

@mixin med {
  font-family: 'Montserrat Medium', sans-serif;
}

@mixin semibold {
  font-family: 'Montserrat Semibold', sans-serif;
}

@mixin bold {
  font-family: 'Montserrat Bold', sans-serif;
}

@mixin price-bold {
  font-family: 'SF UI Text BoldG1', sans-serif;
}