.navbar
  padding: 40px 0
  &-block
    display: flex
    align-items: center
    justify-content: space-between
  &__logo
    display: flex
    flex-direction: column
    .logo
      margin-bottom: 6px
      max-width: 280px
      max-height: 33px
      @include laptop
        max-width: 230px
        max-height: 27px
      @include mobile-landscape
        max-width: 153px
        max-height: 18px
    span
      font-size: 12px
      +semibold
      @include mobile-landscape
        font-size: 9px
  &-menu
    width: 100%
    max-width: 730px
    display: flex
    justify-content: space-between
    @include laptop
      max-width: 570px
    @include tablet
      display: none
    a
      font-size: 11px
      +bold
      color: $black
  &-profile
    display: flex
    align-items: center
    @include tablet
      display: none
    .user
      max-width: 11px
      max-height: 16px
      &-icon
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        border-radius: 50%
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF)
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(97, 70, 238, 0.13)
        transition: $normal
        &:hover
          transform: scale(1.2);
    &__text
      display: inline-block
      margin-right: 15px
      font-size: 13px
      +med
      color: $grey
  &-burger
    display: none
    @include tablet
      margin-bottom: 6px
      display: flex
      padding: 10px 0
      position: relative
      width: 24px
      .burger
        position: absolute
        width: 24px
        height: 4px
        background-color: $purple
        &:before, &:after
          display: block
          content: ''
          position: absolute
          top: 50%
          margin-top: -2px
          width: 24px
          height: 4px
          transition: 0.5s
          background-color: $purple
        &:before
          transform: translateY(-8px)
        &:after
          transform: translateY(8px)
    &-active
      .burger
        height: 0
        &:before
          transform: rotate(495deg)
        &:after
          transform: rotate(-495deg)